<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Search DHCC</title>
        
    </head>
    <body><form action="https://duckduckgo.com" target="_blank" rel="noopener">
        <label for="search">Search the Toolkit:</label>
        <input name="q" id="search" />
        <input type="hidden" name="sites" value="https://sas-dhrh.github.io/dhcc-toolkit/" />
        <input type="hidden" name="ko" value="-2" />
        <input type="hidden" name="k1" value="-1" />
        <input type="hidden" name="kz" value="-1" />
        <input type="hidden" name="km" value="m" />
        <input type="hidden" name="k7" value="#fafef5" />
      </form>
        </body>
</html>